@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  margin: 0;
}
.main_content {
  padding-right: 21px;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  margin: 0;
}
header {
  background-color: #f55a5a;
  margin-bottom: 30px;
}
header nav {
  display: flex;
  padding: 10px 25px 10px 25px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
header nav img {
  height: 26px;
  filter: brightness(0) invert(1);
}
header nav h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #fff;
}
.card_section {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #efefef;
  padding-top: 2px;
  padding-bottom: 33px;
}
.card_section:nth-child(2),
.card_section:nth-child(3) {
  margin-top: 16px;
}
.card_body {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
}
.card_img {
  width: 135px;
  height: 180px;
  object-fit: cover;
  object-position: center center;
  border-radius: 8px;
}
.card_body_location {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 8px;
}
.card_body_location img {
  height: 13px;
  margin-bottom: 3px;
  margin-right: 3px;
}
.location {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  margin-right: 14px;
  color: #2b283a;
}
a:visited,
a:active,
a {
  color: #918e9b;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  line-height: normal;
}
a:hover {
  color: #67656e;
}
.card_body h1 {
  font-size: 26px;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: #2b283a;
}
.card_body h2 {
  font-size: 12px;
  margin: 0;
  font-weight: 700;
  margin-bottom: 10px;
  font-style: normal;
  line-height: normal;
  color: #2b283a;
}
.disc {
  font-size: 11.5px;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: #2b283a;
}
